body {
  font-family: sans-serif;
  background-color: aqua;
}

#app {
  /* background-color: blue; */
  height: 100vh;

  justify-content: center;
  align-items: center;
  font-size: 20pt;
  font-size: 3vw;
}

button {
  width: 100%;

  background-color: yellow;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
  margin: 4px 2px;
  cursor: pointer;
}
textarea {
  box-sizing: border-box;
  font-size: 1.3em;
  width: 100%;
}

#slides {
  height: 100vh;

  justify-content: center;
  align-items: center;
  font-size: 150pt;
  font-size: 9vw;

  display: none;
}
#sendurl {
  display: none;
}
